---
import logo from '../assets/logo.png';
const navItems = [
  { href: "/", label: "Beranda" },
  { href: "/program", label: "Program" },
  { href: "/pengajar", label: "Pengajar" },
  { href: "/rekaman", label: "Rekaman Kajian" },
];
---

<nav id="navbar" class="fixed top-0 left-0 w-full z-50 transition-all duration-300">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <a href="/">
            <img id="navbar-logo" src={logo.src} alt="Ngajiin.id Logo" class="h-18 w-auto transition-all duration-300" />
          </a>
        </div>
      </div>
      <div class="hidden md:block">
        <div class="ml-10 flex items-baseline space-x-4">
          {navItems.map((item) => (
            <a
              href={item.href}
              class="nav-link text-black hover:text-[#0990fe] px-3 py-2 rounded-md text-sm font-medium transition-colors duration-300"
            >
              {item.label}
            </a>
          ))}

          <!-- BUTTON DAFTAR -->
          <a
            href="https://wa.me/+6281334225986/?text=Assalamu%27alaikum%20wr.%20wb.%0ASaya%20ingin%20menjadi%20peserta%20di%20Ngajiin.id."
            class="nav-cta ml-2 rounded-md bg-[#0990fe] px-4 py-2 text-sm font-semibold text-white shadow hover:bg-[#077edb] transition"
          >
            Daftar Sekarang
          </a>
        </div>
      </div>
      <div class="-mr-2 flex md:hidden">
        <button type="button" id="mobile-menu-button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-blue-800 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="hidden md:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3 bg-blue-800 bg-opacity-90 backdrop-blur-sm rounded-b-lg">
      {navItems.map((item) => (
        <a href={item.href} class="text-gray-300 hover:bg-blue-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">{item.label}</a>
      ))}
    </div>
  </div>
</nav>

<script>
  const mobileMenuButton = document.getElementById('mobile-menu-button');
  const mobileMenu = document.getElementById('mobile-menu');
  const navbar = document.getElementById('navbar');
  const navbarLogo = document.getElementById('navbar-logo');

  if (mobileMenuButton && mobileMenu) {
    const svgs = mobileMenuButton.querySelectorAll('svg');

    mobileMenuButton.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
      svgs.forEach(svg => svg.classList.toggle('hidden'));
    });
  }

  if (navbar && navbarLogo) {
  window.addEventListener('scroll', () => {
    if (window.scrollY > 50) {
      navbar.classList.add(
        'bg-[#1e2939]',
        'bg-opacity-100',
        'backdrop-blur-sm',
        'shadow-lg'
      );
      navbarLogo.classList.add('invert');
    } else {
      navbar.classList.remove(
        'bg-[#1e2939]',
        'bg-opacity-100',
        'backdrop-blur-sm',
        'shadow-lg'
      );
      navbarLogo.classList.remove('invert');
    }
  });
}

const navLinks = document.querySelectorAll('.nav-link');

window.addEventListener('scroll', () => {
  if (window.scrollY > 50) {
    navLinks.forEach(link => {
      link.classList.remove('text-black');
      link.classList.add('text-white');
    });
  } else {
    navLinks.forEach(link => {
      link.classList.remove('text-white');
      link.classList.add('text-black');
    });
  }
});

</script>